<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drift Mods - Home</title>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <link rel="stylesheet" href="/static/css/404.css">
</head>

<body>
    <div class="menu-toggle-container">
        <button class="menu-toggle" id="menu-toggle">☰</button>
    </div>
    <header class="navbar">
        <div class="logo">
            <h4><a href="/">MODZONE</a></h4>
        </div>
        <ul class="nav-links">
            <li><a href="/shopping">SHOPPING</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/community_cars">COMMUNITY CARS</a></li>
        </ul>
        
        {% if not session.get('user_id') %}
        <div class="auth-buttons">
            <a href="/login" class="login-btn" id="login-btn">Login</a>
            <a href="/signup" class="signup-btn" id="signup-btn">Sign Up</a>
        </div>
        {% endif %}
        
        <!-- user account div is hidden until user login -->
        {% if session.get('user_id') %}
        <div class="user-account">
            <div class="user-cart">
                <a href="/cart">
                    <img src="/static/svg/cart-solid.svg" alt="cart">
                </a>
                {% if session["cart_items_count"] %}
                <p class="user-cart-count"><span>{{ session["cart_items_count"] }}</span></p>
                {% endif %}
            </div>
            <div class="username">
                <h4>{{ session.get('user_username') }}</h4>
            </div>
            <div class="logout-btn" title="logout">
                <a href="/logout">
                    <img src="/static/svg/logout.svg" alt="logout">
                </a>
            </div>
        </div>
        {% endif %}
    </header>


    <main>
        <div class="error-container">
            <h1>404</h1>
            <h2>Page Not Found</h2>
            <p>Sorry, the page you are looking for does not exist.</p>
            <a href="/">Go to Home</a>
        </div>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Drift Mods. All Rights Reserved.</p>
    </footer>
    <!-- End Footer -->

    <!-- JavaScript Files -->
    <script src="/static/js/header.js" defer></script>
    <div class="loader"></div>
    <script src="/static/js/loader.js"></script>
</body>
</html>