<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <script src="/static/js/tailwind.js"></script>
    <title>Admin Panel</title>
</head>

<body class="bg-gray-400 h-screen flex">
    <aside id="cta-button-sidebar" class="fixed top-0 left-0 z-50 w-48 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                        </svg>
                        <span class="ms-3">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/colleges" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Colleges</span>
                    </a>
                </li>
                <li>
                    <a href="/departments" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Departments</span>
                    </a>
                </li>
                <li>
                    <a href="/accounts" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Accounts</span>
                    </a>
                </li>
            </ul>
            <div class="absolute bottom-3">
                <button onclick="setLanguage('en')" class="px-4 py-2 bg-gray-900 font-bold text-white rounded-l-lg hover:bg-gray-600">English</button>
                <button onclick="setLanguage('ar')" class="px-4 py-2 bg-gray-900 font-bold text-white rounded-r-lg hover:bg-gray-600">العربية</button>
            </div>
            <script>
                function setLanguage(lang) {
                    // Logic to set the language
                    console.log("Language set to:", lang);
                }
            </script>
        </div>
    </aside>

    
    <header class="shadow-sm fixed top-0 w-full z-40 select-none">
        <nav class="bg-white p-4 lg:px-6 flex items-center justify-between" aria-label="Global">
            <div class="w-48"></div>
            <div class="">
                <span class="sr-only">Admin Panel</span>
                <img class="h-8 w-auto" src="/static/images/uni-logo.png" alt="">
            </div>
            <div class="mx-auto">
                <p class="text-md/6 font-semibold text-gray-900">Colleges</p>
            </div>
            <div class="">
                <a href="/logout" class="text-sm/6 font-semibold text-gray-900">Logout</a>
            </div>
        </nav>
    </header>

    <main class="flex-1 ml-48">        
        <section class="min-h-screen mt-16">
            <div class="overflow-x-auto w-full p-4">

                <div class="flex mx-auto max-w-5xl mb-4">
                    <input data-search type="text" id="searchBar" placeholder="Search Colleges.." class="mr-4 block w-96 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-600 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    <select data-sort-by id="sortDropdown" class="text-gray-600 appearance-none block w-64 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        <option value="">Sort by..</option>
                        <option value="college_name_asc">College Name (A-Z)</option>
                        <option value="college_name_desc">College Name (Z-A)</option>
                        <option value="college_abbreviation_asc">College Abbreviation (A-Z)</option>
                        <option value="college_abbreviation_desc">College Abbreviation (Z-A)</option>
                    </select>

                    <!-- Modal toggle -->
                    <button id="crud-modal-button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="ml-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-600 dark:hover:bg-indigo-500 dark:focus:outline dark:focus:outline-2 dark:focus:outline-offset-2 dark:focus:outline-indigo-600">Add College</button>

                    <!-- Main modal -->
                    <div data-modal-backdrop="crud-modal" id="crud-modal" tabindex="-1" data-dialog-backdrop-close="true"
                        class="select-none pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-200">
                        <div data-modal="crud-modal" class="relative p-4 w-full max-w-md max-h-full">
                            <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-800">
                                <!-- Modal header -->
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                        Create New College
                                    </h3>
                                    <button id="crud-modal-close-button" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                                        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->
                                <form id="add-college-form" class="p-4 md:p-5" method="POST">
                                    <div class="grid gap-4 mb-4 grid-cols-2">
                                        <div class="col-span-2">
                                            <label for="college-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                            <input type="text" name="college-name" id="college-name" class="bg-gray-50 outline text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:outline-gray-300 dark:placeholder-gray-400 dark:text-white outline-1 dark:focus:outline-indigo-500" placeholder="Type college name" required>
                                        </div>
                                        <div class="col-span-2">
                                            <label for="college-abbreviation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Abbreviation</label>
                                            <input type="text" name="college-abbreviation" id="college-abbreviation" class="bg-gray-50 outline text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:outline-gray-300 dark:placeholder-gray-400 dark:text-white outline-1 dark:focus:outline-indigo-500" placeholder="Type college abbreviation" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="text-white inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-500 dark:focus:outline dark:focus:outline-2 dark:focus:outline-offset-2 dark:focus:outline-indigo-600">
                                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                        Add new college
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div> 
                    <!-- End of modal -->  
                </div>

                <div class="mb-10 mx-auto max-w-5xl rounded-lg bg-white divide-y divide-gray-300 overflow-hidden">
                    <div class="w-full">
                        <div class="dark:bg-gray-800">
                            <div class="flex text-left text-white">
                                <div data-sort-by-college-name class="font-semibold text-sm uppercase px-6 py-4 w-1/2 select-none">College Name &nbsp;</div>
                                <div data-sort-by-college-abbreviation class="font-semibold text-sm uppercase px-6 py-4 w-1/3 select-none">College Abbreviation &nbsp;</div>
                                <div class="font-semibold text-sm uppercase px-6 py-4 w-1/6"></div>
                            </div>
                        </div>
                        <div data-colleges-container class="divide-y divide-gray-200 overflow-y-auto" style="max-height: 500px;">
                        </div>
                        <div class="flex items-center justify-between px-6 py-4 bg-gray-50">
                            <button id="prev-page" class="px-3 py-1 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-100 disabled:opacity-50" disabled>
                                &laquo; Previous
                            </button>
                            <div class="flex items-center space-x-2">
                                <span>Page</span>
                                <input id="current-page" type="number" min="1" value="1" class="w-12 text-center border border-gray-300 rounded-md">
                                <span>of</span>
                                <span id="total-pages">1</span>
                            </div>
                            <button id="next-page" class="px-3 py-1 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-100 disabled:opacity-50">
                                Next &raquo;
                            </button>
                        </div>

                        <template data-college-row-template>
                            <div data-college-row class="flex items-center">
                                <div class="px-6 py-4 w-1/2"> 
                                    <p data-college-name class="text-gray-700 font-semibold tracking-wide break-words"></p>
                                </div>
                                <div class="px-6 py-4 w-1/3"> 
                                    <p data-college-abbreviation class="text-gray-700 font-semibold tracking-wide break-words"></p> 
                                </div>
                                <div class="px-6 py-4 w-1/6 text-center">
                                    <!-- Edit College Modal toggle -->
                                    <button update-college-modal-open-button data-modal-target="update-college-modal" data-modal-toggle="update-college-modal" 
                                        class="ml-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-600 dark:hover:bg-indigo-500 dark:focus:outline dark:focus:outline-2 dark:focus:outline-offset-2 dark:focus:outline-indigo-600">Edit</button>

                                    <!-- Edit College Main modal -->
                                    <div update-college-modal-backdrop data-modal-backdrop="update-college-modal" tabindex="-1" data-dialog-backdrop-close="true"
                                        class="select-none pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-200">
                                        <div data-modal="update-college-modal" class="relative p-4 w-full max-w-md max-h-full">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-800">
                                                <!-- Modal header -->
                                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                                        Edit College Details
                                                    </h3>
                                                    <button update-college-modal-close-button type="button" data-modal-toggle="update-college-modal" close-button-college-id="0"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                                        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                        </svg>
                                                        <span class="sr-only">Close modal</span>
                                                    </button>
                                                </div>
                                                <div class="text-left p-4 md:p-5 border-b dark:border-gray-600 border-gray-200">
                                                    <div>
                                                        <p class="text-md text-gray-900 dark:text-white">Current Name:</p>
                                                        <p class="current-college-name text-lg text-gray-900 dark:text-white font-semibold"></p>
                                                    </div>
                                                    <div class="mt-5">
                                                        <p class="text-md text-gray-900 dark:text-white">Current Abbreviation:</p>
                                                        <p class="current-college-abbreviation text-lg text-gray-900 dark:text-white font-semibold"></p>
                                                    </div>
                                                </div>
                                                <!-- Modal body -->
                                                <form class="update-college-form p-4 md:p-5" method="POST">
                                                    <div class="grid gap-4 mb-4 grid-cols-2">
                                                        <input type="text" value="" class="college-id" name="college-id" hidden>
                                                        <div class="col-span-2">
                                                            <label for="college-name" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                                            <input id="college-name" class="college-name bg-gray-50 outline text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:outline-gray-300 dark:placeholder-gray-400 dark:text-white outline-1 dark:focus:outline-indigo-500"
                                                                type="text" value="" name="college-name" placeholder="Type college name" required>
                                                        </div>
                                                        <div class="col-span-2">
                                                            <label for="college-abbreviation" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">Abbreviation</label>
                                                            <input id="college-abbreviation" class="college-abbreviation bg-gray-50 outline text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:outline-gray-300 dark:placeholder-gray-400 dark:text-white outline-1 dark:focus:outline-indigo-500"
                                                                type="text" value="" name="college-abbreviation" placeholder="Type college abbreviation" required>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="block text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-500 dark:focus:outline dark:focus:outline-2 dark:focus:outline-offset-2 dark:focus:outline-indigo-600">
                                                        Update college
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- Edit College End of modal -->  
                                </div>
                            </div>
                        </template>

                    </div>
                </div>
            </div>
        </section>

        <footer class="ml-48 fixed inset-x-0 bottom-0">
            <div class="bg-indigo-100 py-3 text-center">
                <p class="text-sm text-gray-600">© 2025 Hurghada University. All rights reserved.</p>
            </div>
        </footer>
    </main>

<div class="loader after:border-r-indigo-500 after:border-l-indigo-500 after:border-b-indigo-500"></div>
    <script src="/static/js/loader.js"></script>
    <script src="/static/js/colleges.js"></script>
</body>

</html>