<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form id="api-test-form">
        <label for="picture">Picture</label>
        <input type="file" id="picture">

        <label for="signature">Signature</label>
        <input type="file" id="signature">

        <button type="submit"></button>
    </form>
    
    <script src="../static/js/request.js"></script>
</body>
</html>